/* BASE SETUP */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

body {
    min-height: 100vh;
}

input,
textarea,
button,
select {
    font: inherit;
}

html {
    scroll-behavior: smooth;
}

/* END OF BASE SETUP */
* {
    /* outline: 1px solid red; */
}

p {
    padding: 1rem 0;
}

.container {
    background-color: #020202;
    color: #FFFFFF;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}


.nav-link,
.heading {
    display: inline-block;
}

.nav-link {
    font-size: 1.7rem;
    color: #fbde07;
    text-decoration: none;
}

aside {
    width: 20vw;
    background-color: #0f0f0f;
    position: fixed !important;
    height: 100% !important;
}

.navigation,
.basic-info {
    padding: 48px;
}

h1 {
    font-size: 2.6rem;
    color: #fbde07;
    padding-bottom: 1rem;
}


h2 {
    font-size: 2rem;
    color: #fbde07;
    padding-bottom: .8rem;
}

h3 {
    font-size: 1.5rem;
    color: #fbde07;
    padding-bottom: .5rem;
}

.nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

li {
    list-style: none;
}

.nav-link {
    display: inline-block;
    padding: 1rem 0 1.2rem 0;
}

main {
    width: 80vw;
    margin-left: 20vw;
    padding: 0 10vw;
}

section,
h1 {
    padding-bottom: 2rem;
}

section {
    min-height: 100vh;

}

#about-section {
    display: flex;

}

.about-text,
.skills-text {
    font-size: 1.5rem;
}

.p-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
}

.text-div,
.image-div {
    display: block;
    width: 50%;
}

.text-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-pic {
    border-radius: 50%;
    border: 1rem;
    width: 300px;
    border-color: #fbde07;
    border-style: ridge;
    transition: all .4s;

}

.profile-pic:hover {
    transform: scale(103%);
}

#skills-section {
    padding-top: 3rem;
}

.yellow-text {
    color: #fbde07
}

.skills-image {
    background-image: url("./images/top10lan.jpg");
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 2rem;
}